.em__alta{
    height: 200px;
}

.em__alta-titulo{
    color: #e5e5e5e5;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
}

.em__alta-lista{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.em__alta-item{
    padding: 0 2px;
    transition: 250ms all;
}

.-animacao:hover{
    margin: 0 40px;
    transform: scale(1.2);
}

.em__alta-img{
    max-width: 100%;
    padding-right: 5px;
}