.trilhos{
    height: 200px;
}

.trilhos-titulo{
    color: #E5E5E5E5;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
}

.trilhos-lista{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.trilhos-item{
    padding: 0 2px;
    transition: 250ms all;
}

.trilhos-img{
    max-width: 100%;
    padding-right: 5px;
}